.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
/**/.*  # ignore all dotted files
/**/.*/ # ignore all dotted folders
!/.gitignore  # except `gitignore` :)


# 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
# ssh-keygen -t ed25519


# wget https://releases.hashicorp.com/terraform/1.8.4/terraform_1.8.4_linux_amd64.zip



